name: Ruby

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby:
          - 2.4
          - 2.5
          - 2.6
          - 2.7
          - 3.0
          - head
          - jruby
          - jruby-head
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        # Runs 'bundle install' and caches installed gems automatically
        bundler-cache: true
    - name: Run tests
      run: bundle exec rake
      env:
        CODECOV_TOKEN: f881216b-b5c0-4eb1-8f21-b51887d1d507
