name: Ruby

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@ec106b438a1ff6ff109590de34ddc62c540232e0
      with:
        ruby-version: 2.6
    - name: Install dependencies
      run: bundle install
    - name: Echo env variables
      run: |
        echo {{ GITHUB_HEAD_REF }}
        echo {{ GITHUB_REF }}
    - name: Run tests
      run: bundle exec rake
